<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/8c00fd9efd.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="color-body">
    <header>
        <div class="header-top">
            <figure id="logo">
                <a href="/"> <img class="logo" src="/img/logo-mercado-liebre.svg"></a>
            </figure>
            <div>
                <form>
                    <div class="barra-de-busqueda">
                        <label><input class="navBar" type="text" name="navBar" placeholder="Buscar producto, marcas">
                        </label>
                        <button><i class="fa-solid fa-magnifying-glass lupa" style="color: #1a0a53;"></i></button>
                    </div>
                </form>
            </div>

            <div class="alineacion-header">
                <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <div class="header-bottom">
            <nav class="navegadores">
                <ul type="none">
                    <li class="lista"><a href="Oferta.html">Oferta</a></li>
                    <li class="lista"><a href="TiendaOficial.html">Tienda Oficiales</a></i></li>
                    <li class="lista"><a href="Vender.html"> Vender </a></li>
                    <li class="lista"><a href="Ayuda.html"> Ayuda </a></li>
                </ul>
                <ul>
                    <li class="lista"><a href="/register"> Creá tu cuenta </a> <i class="fa-regular fa-id-card"></i>
                    </li>
                    <li class="lista"><a href='./login'> Ingresá </a> <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </li>
                    <li class="lista"><a href="miscompras.htm"> Mis Compras </a> <i
                            class="fa-solid fa-basket-shopping"></i> </li>
                </ul>
            </nav>
        </div>
        <form>
            <div class="posicion-hamburguesa">
                <label class="burger-menu">
                    <i class="fas fa-bars burger"></i>
                </label>
            </div>
        </form>
    </header>
    <div>
        <img class="baner" src="img/img-home-banner.jpg">
    </div>
    <main>

        <h4>Basado en su última búsqueda</h4>
        <article class="flex">
            <div class="articulos">
                <img class="imagenes" src="/img/img-cafetera-moulinex.jpg">
                <div class="separador"></div>
                <div class="colectivo">
                    <i class="fa-solid fa-truck fa-lg"></i>
                </div>
                <div class="contenedor">
                    <p class="precio">$6.770</p>
                    <p class="porcentaje">40% off</p>
                </div>
                <p class="nombre-producto">Cafetera Moulinex</p>
            </div>


            <div class="articulos">
                <img class="imagenes" src="/img/img-macbook-pro-2019.jpg">
                <div class="separador"></div>
                <div class="colectivo">
                    <i class="fa-solid fa-truck fa-lg"></i>
                </div>
                <div class="contenedor">
                    <p class="precio">$230.000</p>
                    <p class="porcentaje">20% off</p>
                </div>
                <p class="nombre-producto">MacBook Pro 2019</p>
            </div>
            </div>
            <div class="articulos">
                <img class="imagenes" src="/img/img-samsung-galaxy-s10.jpg">
                <div class="separador"></div>
                <div class="colectivo">
                    <i class="fa-solid fa-truck fa-lg"></i>
                </div>
                <div class="contenedor">
                    <p class="precio">$70.500</p>
                    <p class="porcentaje">10% off</p>
                </div>
                <p class="nombre-producto">Samsung Galaxy S10</p>
            </div>
            <div class="articulos">
                <img class="imagenes" src="/img/img-tv-samsung-smart.jpg">
                <div class="separador"></div>
                <div class="colectivo">
                    <i class="fa-solid fa-truck fa-lg"></i>
                </div>
                <div class="contenedor">
                    <p class="precio">$23.200</p>
                    <p class="porcentaje">5% off</p>
                </div>
                <p class="nombre-producto">SmartTv Samsung 43"</p>
            </div>
        </article>

        <h4>Sección de Ofertas</h4>

        <article class="flex">
            <div class="articulos">
                <img class="imagenes" src="/img/img-cafetera-moulinex.jpg">
                <div class="separador"></div>
                <div class="colectivo">
                    <i class="fa-solid fa-truck fa-lg"></i>
                </div>
                <div class="contenedor">
                    <p class="precio">$6.770</p>
                    <p class="porcentaje">40% off</p>
                </div>
                <p class="nombre-producto">Cafetera Moulinex</p>
            </div>

            <div class="articulos">
                <img class="imagenes" src="/img/img-macbook-pro-2019.jpg">
                <div class="separador"></div>
                <div class="colectivo">
                    <i class="fa-solid fa-truck fa-lg"></i>
                </div>
                <div class="contenedor">
                    <p class="precio">$230.000</p>
                    <p class="porcentaje">20% off</p>
                </div>
                <p class="nombre-producto">MacBook Pro 2019</p>
            </div>
            <div class="articulos">
                <img class="imagenes" src="/img/img-samsung-galaxy-s10.jpg">
                <div class="separador"></div>
                <div class="colectivo">
                    <i class="fa-solid fa-truck fa-lg"></i>
                </div>
                <div class="contenedor">
                    <p class="precio">$70.500</p>
                    <p class="porcentaje">10% off</p>
                </div>
                <p class="nombre-producto">Samsung Galaxy S10</p>
            </div>
            <div class="articulos">
                <img class="imagenes" src="/img/img-tv-samsung-smart.jpg">
                <div class="separador"></div>
                <div class="colectivo">
                    <i class="fa-solid fa-truck fa-lg"></i>
                </div>
                <div class="contenedor">
                    <p class="precio">$23.200</p>
                    <p class="porcentaje">5% off</p>
                </div>
                <p class="nombre-producto">SmartTv Samsung 43"</p>
            </div>
        </article>
    </main>

    <footer>
        <div class="footer-generico">
            <article class="articulos-footer">
                <i class="fa-solid fa-credit-card icon"></i>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </article>
            <article class="articulos-footer">
                <i class="fa-solid fa-gift icon"></i>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </article>
            <article class="articulos-footer">
                <i class="fa-solid fa-user-shield icon"></i>
                <h5>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </article>
        </div>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>