<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/8c00fd9efd.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="header-top">
            <figure id="logo">
                <a href="/"> <img class="logo" src="/img/logo-mercado-liebre.svg"></a>
            </figure>

            <form>
                <div>
                    <label><input class="navBar" type="text" name="navBar" placeholder="Buscar producto, marcas">
                    </label>
                    <button><i class="fa-solid fa-magnifying-glass lupa" style="color: #1a0a53;"></i></button>
                </div>
            </form>

            <div class="alineacion-header">
                <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <div class="header-bottom">
            <nav class="navegadores">
                <ul type="none">
                    <li class="lista"><a href="Oferta.html">Oferta</a></li>
                    <li class="lista"><a href="TiendaOficial.html">Tienda Oficiales</a></i></li>
                    <li class="lista"><a href="Vender.html"> Vender </a></li>
                    <li class="lista"><a href="Ayuda.html"> Ayuda </a></li>
                </ul>
                <ul>
                    <li class="lista"><a href="/register"> Creá tu cuenta </a> <i class="fa-regular fa-id-card"></i>
                    </li>
                    <li class="lista"><a href='./login'> Ingresá </a> <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </li>
                    <li class="lista"><a href="miscompras.htm"> Mis Compras </a> <i
                            class="fa-solid fa-basket-shopping"></i> </li>
                </ul>
            </nav>
        </div>
        <form>
            <div class="posicion-hamburguesa">
                <label class="burger-menu">
                    <i class="fas fa-bars burger"></i>
                </label>
            </div>
        </form>
    </header>
    <main>

        <form action="/login" method="POST" class="creat-form-login">
            <div class="main-login">
                <div class="form-login">
                    <input type="text" placeholder="Nombre de Usuario" required="" minlength="8">
                </div>
                <div class="form-login">
                    <input type="password" placeholder="Contraseña" required="" minlength="8">
                </div>
                <div class="boton-login">
                    <button type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer-generico">
            <article class="articulos-footer">
                <i class="fa-solid fa-credit-card icon"></i>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </article>
            <article class="articulos-footer">
                <i class="fa-solid fa-gift icon"></i>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </article>
            <article class="articulos-footer">
                <i class="fa-solid fa-user-shield icon"></i>
                <h5>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </article>
        </div>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>